@{
	ViewBag.Title = "Home Page";
}
<div class="row">
	<div class="col-12">
		<div id="panelPaciente" class="">
			<table id="tablaPaciente" class="table table-responsive table-striped table-bordered " style="width:100%">
				<thead style="background-color:#4caf50; color:antiquewhite;">
					<tr>
						<th>id</th>
						<th>Nombre</th>
						<th>Tipo</th>
						<th>Fecha</th>
						<th>Estado</th>
					</tr>
			</table>

		</div>
	</div>

</div>


@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script type="text/javascript">

		$(document).ready(function () {
			consultar();
		})
		function consultar() {

			$('#tablaPaciente tbody').remove();

			$.ajax({ //Do an ajax post to the controller
				type: 'GET',
				url: '/Cita/GetCitas',
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (dataa) {

					if (dataa.Error == undefined || dataa.Error == "") {
						var pacientes = JSON.parse(dataa);
						data = pacientes;
						var table = document.getElementById("tablaPaciente");

						if (data.length > 0) {

							var html = '<thead style="background-color:#4caf50; color:green;"><tr>...</tr></thead><tbody>';
							for (var i = 0, len = data.length; i < len; ++i) {


								html += `<tr>
																					
																					<td >`+ data[i].id + `</td>
																					 <td >`+ data[i].Nombre + `</td>
																					<td >`+ data[i].Tipo + `</td>
																					<td >`+ data[i].fecha + `</td>
																					<td >`+ data[i].estado + `</td>


																				</tr>`;

							}

							$(html).appendTo('#tablaPaciente');





						}
						else {
							//   alert("No se encontraron datos");

							alert("No se encontraron datos");
						}


					}

					else {



						alert(dataa.Error);
					}
				},
				error: function (err) {

					alert("Error al consultar");

				},
			});
		}
		
	</script>

}
