

@using (Html.BeginForm("paciente", "paciente", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
	<div class="wp-content">
		<div class="row">
			<div class="title-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-8">
							<input type="button" value="Guardar" onclick="gestionarPaciente('G')" class="btn btn-success btn-sm" id="btnGuardar" />
							<input type="button" value="Actualizar" onclick="gestionarPaciente('A')" class="btn btn-success btn-sm" id="btnGuardar" />
							<input type="button" value="Inactivar" onclick="gestionarPaciente('D')" class="btn btn-success btn-sm" id="btnGuardar" />
							<input type="button" value="Limpiar" onclick="location.reload()" class="btn btn-success btn-sm" id="btnGuardar" />

						</div>

						<div class="col-4 pt-2">
							<h2 class="title-view">Paciente /  Gestionar </h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row col-8">
				<div class="form-group col-md-4">
					<label> ID:</label>
					<input type="text" class="form-control" id="TxtId" maxlength="13" disabled />
				</div>
				<div class="form-group col-md-4">
					<label> Cédula:</label>
					<input type="text" class="form-control" id="TxtCedula" maxlength="13" />
				</div>
				<div class="form-group col-md-4">
					<label> Nombre:</label>
					<input type="text" class="form-control" id="TxtNombre" maxlength="60" />
				</div>
				<div class="form-group col-md-4">
					<label> Teléfono:</label>
					<input type="text" class="form-control" id="TxtTelefono" maxlength="15" />
				</div>
				<div class="form-group col-md-4">
					<label> Estado:</label>
					<select id="CbEstado" class="form-control">
						<option value="1">Activo</option>
						<option value="0">Inactivo</option>
					</select>
				</div>

			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div id="panelPaciente" class="">
					<table id="tablaPaciente" class="table table-responsive  table-striped table-bordered " style="width:100%">
						<thead style="background-color:#4caf50; color:antiquewhite;">
							<tr>
								<th></th>
								<th>id</th>
								<th>Nombre</th>
								<th>Cédula</th>
								<th>Telefono</th>
								<th>Estado</th>
							</tr>
					</table>

				</div>
			</div>

		</div>
	</div>


}
@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")

	<script type="text/javascript">

		$(document).ready(function () {
			consultar();
		})
		function consultar() {
			
			$('#tablaPaciente tbody').remove();

			$.ajax({ //Do an ajax post to the controller
				type: 'GET',
				url: '/Paciente/GetPacientes',
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				success: function (dataa) {

					if (dataa.Error == undefined || dataa.Error == "") {
						var pacientes = JSON.parse(dataa);
						data = pacientes;
						var table = document.getElementById("tablaPaciente");

						if (data.length > 0) {

							var html = '<thead style="background-color:#4caf50; color:green;"><tr>...</tr></thead><tbody>';
							for (var i = 0, len = data.length; i < len; ++i) {


								html += `<tr>
																					'<td><input type="checkbox"  onclick="ClicCK('`+ data[i].id + `','` + data[i].Nombre + `','` + data[i].cedula + `','` + data[i].telefono + `','` + data[i].estado + `')" class="custom-checkbox" /></td>'
																					<td >`+ data[i].id + `</td>
																					 <td >`+ data[i].Nombre + `</td>
																					<td >`+ data[i].cedula + `</td>
																					<td >`+ data[i].telefono + `</td>
																					<td >`+ data[i].estado + `</td>


																				</tr>`;

							}
					
							$(html).appendTo('#tablaPaciente');

							



						}
						else {
							//   alert("No se encontraron datos");

							alert("No se encontraron datos");
						}


					}

					else {



						alert(dataa.Error);
					}
				},
				error: function (err) {

					alert("Error al consultar");

				},
			});
		}
		function ClicCK(id, Nombre, Cedula,telefono, Estado) {
			$('#TxtId').val(id)
			$('#TxtNombre').val(Nombre)
			$('#TxtCedula').val(Cedula)
			$('#TxtTelefono').val(telefono)
			if (Estado == "Activo")
				$('#CbEstado').val(1)
			else
				$('#CbEstado').val(0)
		}

		function gestionarPaciente(accion)
		{
			var obj = {
				id: $('#TxtId').val(),
				Nombre: $('#TxtNombre').val(),
				cedula: $('#TxtCedula').val(),
				telefono: $('#TxtTelefono').val(),
				estado: $('#CbEstado').val(),
				Accion: accion
			}		
			$.ajax({
                    type: 'POST',
                    url: '@Url.Action("GestionarPaciente", "Paciente")',
				data: JSON.stringify(obj),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
				success: function (dataa) {
					consultar();
                                       
                },
                error: function (err) {                   
                },

                });
		}
	</script>

}